# ============================================================
# .env example file. You can rename it into .env to deploy
# ============================================================

JWT_SECRET="SECRET" # DO NOT USE DEFAULT VALUE!

# ========== Netword settings ==========
API_PORT="8080"
DATABASE_PORT=""

# ========== Database ==========
DATABASE_TYPE="mongodb" # supports only "mongodb"
DATABASE_PASSWORD="DB_PASSWORD" # used for server-side database auth. DO NOT USE DEFAULT VALUE!
DATABASE_ROUTE_SECRET="/route_secret/" # secret database route path. Requests for database will starts with this value.

# MongoDB
MONGODB_TOKEN="mongodb_key" # mongodb auth key

# ========== Snowflake ID ==========
# used for generating unique ID's
EPOCH="2000-01-01T00:00:00.000Z" # start epoch for ID's

# ========== API ==========
DEFAULT_API_ROUTE="/api/v1"
